<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Configuration Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/email_configuration.css">
</head>
<body>
    <header class="header">
        <div class="logo">dbdome</div>
    </header>
    
    <main class="container">
        <form class="custom-form" id="customForm"  action="/submit_email_configuration" method="POST">
            <h1>Email configuration</h1>
            
            <div class="form-group">
                <label for="smtp-server">SMTP server</label>
                <input type="text" id="smtp_server" name="smtp_server" required>
            </div>
            
            <div class="form-group">
                <label for="smtp-port">SMTP port (Numbers only) </label>
                <input type="number" id="smtp_port" name="smtp_port" required>
            </div>
            
            <div class="form-group">
                <label for="smtp-user">SMTP user</label>
                <input type="text" id="smtp_user" name="smtp_user" required>
            </div>
            
            <div class="form-group">
                <label for="smtp-password">SMTP password</label>
                <input type="password" id="smtp_password" name="smtp_password" required>
            </div>
            
            <div class="form-group checkbox-group">
                <label for="tls" class="checkbox-label">
                    <input type="checkbox" id="tls" name="tls">
                    <span>TLS</span>
                </label>
            </div>
            
            <button type="submit" class="confirm-btn">Submit</button>
        </form>
        
        <div class="success-message" id="successMessage">
            Form submitted successfully
        </div>
        
        <canvas id="confettiCanvas"></canvas>
    </main>
    <!--
    <script src="../static/js/email_configuration.js"></script>
    -->
</body>
</html>

